body{
	background-color: #f7f8f9 ;
	background-size: 100%;
	font-family:stencil;
}


.jumbotron{
	background-image: url("sss/images/color.jpg");
	background-size:cover;
	background:contain;
	background-position:right;
	width: 100%;
	height: 1000px;
	color: white;
	max-width:1400px;
	text-align: center;
	text-shadow: 2px 2px black;
}
#con{
	text-align:center;
	
}
p{
	margin:0 auto;
    padding-right: 80px;
    padding-left: 80px;
}

.button{

    background-color: transparent;
    color: white;
}
footer{
	text-align: center;
}
.about{
	
    color: black;
	
}
#contact{
	width: 50%;
}
.slider{
	width:70%;
	height:50%;
	margin:0 auto;
}
.img{
	float:left;
}